<h3 style="font-size: 40px; text-align:center ;
display: block; margin-top: 10%;">החשבון של {{myUser?.username}}</h3>


<div class="main">
  
    <h3> רכישות קודמות שלי:</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>מס קבלה</th>
                <th>תאריך קניה</th>
                <th>מס פריטים</th>
                <th> סניף</th>
                <th>סה"כ</th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td>11111</td>
                <td>12/03/22</td>
                <td>4</td>
                <td>ראשון לציון</td>
                <td>{{129| currency:"ILS"}}</td>

            </tr>
            <tr >
                <td>11111</td>
                <td>12/03/22</td>
                <td>4</td>
                <td>ראשון לציון</td>
                <td>{{129| currency:"ILS"}}</td>

            </tr>
            <tr >
                <td>11111</td>
                <td>12/03/22</td>
                <td>4</td>
                <td>ראשון לציון</td>
                <td>{{129| currency:"ILS"}}</td>

            </tr>
            <tr >
                <td>11111</td>
                <td>12/03/22</td>
                <td>4</td>
                <td>ראשון לציון</td>
                <td>{{129| currency:"ILS"}}</td>

            </tr>
            <tr >
                <td>11111</td>
                <td>12/03/22</td>
                <td>4</td>
                <td>ראשון לציון</td>
                <td>{{129| currency:"ILS"}}</td>

            </tr>
            <tr >
                <td>11111</td>
                <td>12/03/22</td>
                <td>4</td>
                <td>ראשון לציון</td>
                <td>{{129| currency:"ILS"}}</td>

            </tr>
        </tbody>
    </table>
</div>