#menu{
    /* background-color: #d0b46cd1; */
    display: flex;
    width: 100%;
    justify-content: space-around;
    direction: rtl;
    background-color: #fff;
    margin: 0px auto 0px;
}

#menu a{
color: rgb(0, 0, 0);
font-size: 120%;
font-weight:bold;
margin: 1%;



}
   
.content #menu.ng-trigger{
    text-decoration: underline  3px;
   
}


#menu a:hover{
    text-decoration: underline  3px;
 }
 
   
    
.header {
    
   background-color:#cfbfc6;
   height: 40px;
   width: 100%;
   text-align: center;
   font-size: 18px;
   padding: 0;
   line-height: unset;
   font-weight: 400;
   line-height: unset;
        
}    


    content{
        display:block;
       
    }